/*主页面*/
body {
    font: 14px/27px "Quattrocento Sans", sans-serif;
    font-weight: 300;
    background-color: #fff;
    color: #646a7c;
}
div{
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}


/*top---------头部*/
.top {
    /*background-color:#25232b;*/
    /*padding:6px 0px 3px 0px;*/
    /* min-height: 39px; */
    padding: 10px 0 10px 0;
    background-color: #3e4955;
    color: #ddd;
    outline: none;
}
/*左*/
.top .flat-information {
    float: left;
    width: 100%;
}

.top .flat-information span {
    position: absolute;
    top:3px;
    left: 0;
}

.top .flat-information span,.top .flat-information a {
    color:#b2b1b8;

}

.top .flat-information a {
    font-size:13px;
    font-weight: 400;
}

.top .flat-information > li {
    display: inline-block;
    position: relative;
    padding:0px 20px 0px 20px;
}

.top .flat-information > li i{
    position: absolute;
    right: 5px;
    top:3px;
    width:1px;
    height:20px;
    background-color:#3b3941;
}
/*右*/

.top .social-links {
    text-align: right;
    float: right;
    width: 100%;
}
@media only screen and (max-width: 991px){
    .top .social-links {
        text-align: center
    }
    .top .flat-information {
        text-align: center;
    }
    .top .flat-information > li i {
        display: none;
    }
}

.top .social-links li{
    display: inline-block;
    padding:3px 8.5px 0px;
}
.top .social-links li span{
    color:#b2b1b8;
}

/*nav*/
.header {
    box-shadow: 0 0 1px #dedcde;
}
.header #logo {
    /* margin-top:26px; */
    margin-left:2px;
    float: left;
    width: 170px;
    height: 80px;
}
.header #logo img {
    width: 100%;
    height: 100%;
    border:0;
    vertical-align: middle;
}
.header .btn-menu {
    display: none;
    position: relative;
    background: transparent;
    cursor: pointer;
    margin: 30px 10px 32px 40px;
    width: 26px;
    height: 16px;
    float: right;
    -webkit-transition: all ease .238s;
    -moz-transition: all ease .238s;
    transition: all ease .238s;
}
.btn-menu::before, .btn-menu::after{
    content: '';
    position: absolute;
    top: 0;
    height: 2px;
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background-color: #0871f3;
    -webkit-transition: all ease .238s;
    -moz-transition: all ease .238s;
    transition: all ease .238s;

}
.btn-menu::before {
    transform: translate3d(0,-7px,0);
}
.btn-menu::after {
    -webkit-transform: translate3d(0, 7px, 0);
    transform: translate3d(0, 7px, 0);
}
.btn-menu span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 50%;
    overflow: hidden;
    text-indent: 200%;
    background-color: #0871f3;
    -webkit-transition: all ease .238s;
    -moz-transition: all ease .238s;
    transition: all ease .238s;
}

.nav-wrap {
    position: relative;
    float: right;
    display: block;
}

#mainnav > ul > li {
    display: inline-block;
    position: relative;
}

#mainnav > ul > li > a {
    padding :0 8px;
    position: relative;
    font-weight: 700;
    color: #3c3a42;
    text-transform: uppercase;
    line-height: 80px;
}
#mainnav > ul > li > a:hover{
    color: rgb(136, 133, 133);
}
@media only screen and (max-width: 991px){
    .nav-wrap {
        display: none;
    }
    .header .btn-menu {
        display: block;
    }
}
.header.downscrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.9);
}

/*slider nav*/

#mainnav-mobi {
    display: none;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    background-color: #1d2738;
    z-index: 1000;
}

#mainnav-mobi .menu {
    overflow-y: auto;
    height: 60vh;
}

#mainnav-mobi .menu li {
    margin: 0;
    position: relative;
    text-align: left;
    border-top: 1px solid #2d374a;
    cursor: pointer;
}

#mainnav-mobi .menu li a {
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    color: #fff;

}
.row {
    position: relative;
}
.active::before {
    transform: rotate3d(0,0,1,45deg);
}
.active::after{
    transform: rotate3d(0,0,1,-45deg);
}

/*This is situation*/

#situation .about_top {
    text-align: center;
    margin-top:50px;
}
#situation .about_top h1 {
    font-size:40px;
    color: #333;
    line-height: 48px;
    font-weight: 500;
}
#situation .about_top h1::after {
    border-top: 2px solid #303030;
    display: block;
    width: 40px;
    content: "";
    margin: 15px auto 0;
}

#situation .about_top p {
    margin: 10px;
}
#situation .about_left img{
    display: block;
    max-width: 100%;
    height: auto;
}
#situation .about_right_text p {
    text-indent: 2em;
    margin: 0 0 12px;
}

/*This is culture*/
#culture {
    margin:70px 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/about/circle_bg.png");
}
#culture .culture_top {
    margin-top: 50px;
    text-align: center;

}
#culture .culture_top h1 {
    color:white;
    font-size:40px;
}
#culture .culture_top h1::after {
    border-top: 2px solid #ffffff;
    display: block;
    width: 40px;
    content: "";
    margin: 15px auto 0;
}
#culture .culture_bottom {
    color:white;
    text-align: center;
    margin:50px 0;
}
#culture .culture_bottom p {
    font-size:25px;
    padding-bottom: 15px;

}

/*This is idea*/
#idea .idea_top {
    text-align: center;
}
#idea .idea_top h1 {
    font-size:40px;
    color: #333;
    line-height: 48px;
    font-weight: 500;
}
#idea .idea_top h1::after {
    border-top: 2px solid #303030;
    display: block;
    width: 40px;
    content: "";
    margin: 15px auto 0;
}
#idea .idea_top span {
    display: inline-block;
    margin:10px 10px;
}
#idea .idea_top p {
    margin: 10px;
}

#idea .img_idea {
    display: block;
    max-width: 100%;
    height: auto;
}
#idea .idea_bottom {
    margin-top: 50px;
}

.icon img {
    display: block;
    max-width: 100%;
    height: auto;
    padding:20px 0;
}

.text h5 {
    font-size:25px;
    padding:20px 0;
}

/*This is power*/
#power .power_top {
    text-align: center;
    margin-top:50px;
}
#power .power_top h1 {
    font-size:40px;
    color: #333;
    line-height: 48px;
    font-weight: 500;
}
#power .power_top h1::after {
    border-top: 2px solid #303030;
    display: block;
    width: 40px;
    content: "";
    margin: 15px auto 0;
}
#power .power_top span {
    display: inline-block;
    margin:10px 10px;
}
.img_box {
    text-align: center;
}
.img_box img {
    max-width: 100%;
    height: auto;
    padding:20px 0;
}
.img_box p {
    padding-bottom: 20px;
}

    /*footer*/
.footer {
    width: 100%;
    text-align: center;
    background: #232730;
    padding: 1.2em 0;
    border-top: 3px solid #1688d3;
    color:white;
}

/*go_top*/
.go_top {
    /*display: inline-block;*/
    position: fixed;
    bottom: 25px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
}
.go_top span {
    color: #0798b5;
    font-size: 25px;
}
.go_top:hover {
    background: #0798b5;
}
.go_top:hover span {
    color: white;
}
